.header {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 8px -9px rgba(0, 0, 0, 75);
    z-index: 99;
}

.header__left {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    flex: 0.25;
}

.header__logo {
    height: 40px;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    border-radius: 999px;
    margin-left: 10px;
    padding: 10px;
    cursor: text;
    flex: 1;
}

.header__input>input {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    outline-width: 0px;
}

.header__left>.header__button {
    display: none;
}

.header__center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header__options{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
}



.header__option {
    display: flex;
    width: 120px;
    padding: 3px 0px;
    color: grey;
}

.header__option--active {
    border-bottom: 3px solid #2e81f4;
    color: #2e81f4
}

.header__option__container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.header__option__container:hover {
    background-color: rgba(128, 128, 128, 0.100);
    ;
}

.header__option__container> .MuiSvgIcon-root {
    pointer-events: none;
}

.header__option--active>.header__option__container:hover {
    background-color: unset !important;
    color: unset !important;
}

.header__burger {
    display: none;
}

.header__right {
    display: flex;
    padding: 6px 0px;
    flex: 0.24;
}

.header__info {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}

.header__info:hover {
    background: #e4e6eb;
    border-radius: 20px;
}

.header__info>h4 {
    margin: 0 10px;
}

.header__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    position: relative;
    align-items: center;
}

.header__button {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    outline: none;
    background-color: #e4e6ebc4;
}

.header__button:hover {
    background-color: #e4e6eb;
}

@media (max-width:1300px) {
    .header__input {
        display: none;
    }
    .header__left>.header__button {
        display: block;
        margin-left: 20px;
    }
    .header__right>.header__info {
        display: none;
    }
    .header__center{
        margin-left: 65px;
    }
}

@media (max-width:1100px) {
    .header__options {
        margin-left: 0px;
        margin-right: 10px;
        width: 100%;
    }
    .header__option{
        width: 100%;
    }
}

@media (max-width:725px) {
    .header__center {
        display: flex;
        margin: 0;
        padding: 6px;
        justify-content: flex-start;
    }

    .header__options {
        display: none;
    }

    .header__burger {
        padding: 8px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        flex: 0.5;

    }

    .header__burger>.MuiSvgIcon-root {
        font-size: xx-large;
    }

    .header__burger:active {
        background-color: #e4e6ebc4;
    }

}