.sidebar {
    padding: 15px 10px;
    flex: 0.25;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 90px);
    min-width: 265px;
    position: sticky;
    top: 54px;
    max-height: 346px;
}

.sidebar>a{
    color: black !important;
    text-decoration: none !important;
}

.sidebar>hr{
    margin-top: 8px;
    align-self: center;
    width: 90%;
    background-color: rgba(128, 128, 128, 0.486);
    height: 1px;
}

.sidebar::-webkit-scrollbar {
    width: 15px;
}

.sidebar::-webkit-scrollbar-track {
    background: #E5E6E9;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 10px;
    border: 3px solid #E5E6E9;
}

@media (max-width:1100px) {
    .sidebar {
        display: none;
    }
}