.advertisement {
    flex: 0.26 0;
    min-width: 315px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 90px);
    min-width: 265px;
    position: sticky;
    top: 54px;
    max-height: 346px; 
}

.advertisement>h3 {
    margin-left: 10px;
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
}

.advertisement::-webkit-scrollbar {
    width: 15px;
}

.advertisement::-webkit-scrollbar-track {
    background: #E5E6E9;
}

.advertisement::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 10px;
    border: 3px solid #E5E6E9;
}


@media (max-width:1300px) {
    .advertisement {
        min-width: auto;
    }
}

@media (max-width:900px) {
    .advertisement {
        display: none;
    }
}