.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
    display: flex;
    position: relative;
    padding: 15px 15px 0px 15px;
}

.post__info{
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

.post__info>a {
    font-size: 1.125rem;    
    font-weight: 500;  
    color: black;
    text-decoration: none;
}

.post__info>a:hover {
    text-decoration: underline;
}

.post__info>p {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 0.9rem;
    color: grey;
}

.post__delete{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: grey;
    outline: none;
    border-radius: 999px;
}

.post__delete:hover {
    color: black;
}

.post__delete:active {
    background-color: rgba(128, 128, 128, 0.100);
}

.post__message {
    padding: 15px 15px;
    font-size: 1.125rem;
}

.post__image>img {
    width: 100%;
}

.post__likes{
    margin: 5px;
    display: flex;
    align-items: center;
}

.post__likes>p {
    color: grey;
}

.post__like{
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%2318AFFF'/%3e%3cstop offset='100%25' stop-color='%230062DF'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0'/%3e%3c/filter%3e%3cpath id='b' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z'/%3e%3c/g%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}

.post__options {
    border-top: 1px solid lightgrey;
    font-size: medium;
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.post__option {
    display: flex;
    align-items: center;
    flex: 0.33;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;
}

.post__option:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.100);
}

.post__option>p {
    margin-left: 10px;
}
